.box {
	width: 200px;
	height: 100px;
	margin: 1em;
	padding: 1em;
	text-align: center;
	font-weight: bold;
}

.purple {
	background-color: aquamarine;
}

.border {
	border: 2px solid black;
}

.error {
	border: 1px solid red;
}
